{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "plugins": [
    "react",
    "react-native",
    "flowtype"
  ],
  "rules": {
    "max-len": "off",
    "no-shadow": "off",
    "global-require": "off",
    "no-underscore-dangle": ["error", { "allowAfterThis": false, "allow": ["_czc", "_active"] }],
    "consistent-return": "off",
    "react/sort-comp": [2, {
      "order": [
        "/^props$/",
        "static-methods",
        "lifecycle",
        "/^on.+$/",
        "/^(get|set)(?!(InitialState$|DefaultProps$|ChildContext$)).+$/",
        "everything-else",
        "/^render.+$/",
        "render"
      ]
    }],
    "react/prefer-stateless-function": "off",
    "no-use-before-define": ["error", { "variables": false }],
    "no-param-reassign": "off",
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "react/forbid-prop-types": "off",
    "no-useless-escape": "off",
    "import/no-extraneous-dependencies": "off",
    "import/no-unresolved": "off",
    "import/extensions": "off",
    "import/export": "off",
    "import/prefer-default-export": "off",
    "no-undef": "error",
    "no-nested-ternary": "off",
    "linebreak-style": 0,
    "no-restricted-globals": "off",
    "prefer-promise-reject-errors": "off",
    "no-floating-decimal": 1,
    "no-else-return": 1,
    "react-native/no-unused-styles": 2,
    "react-native/no-inline-styles": 2,
    "react-native/no-color-literals": 1
  }
}
